@use 'partials/variables' as *;
@use 'partials/mixins' as *;

html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

.gallery {
  display: flex;
  flex-direction: column;
  margin: 0 20px;

  &__item {
    text-align: center;
    background: lightblue;
    margin: 20px 0;
    padding: 20px 0;
    font-size: 5rem;
    border-radius: 5px;
  }
}
