#hawaii{
    width: 100%;
    background-image: url('../assets/Images/hawaii.jpg');
    background-position: center; 
    background-size: cover; /* Use 'auto' for original size */
    padding-bottom: 5rem;
}
#greece{
    width: 100%;
    background-image: url('../assets/Images/greece.jpg');
    background-position: center; 
    background-size: cover; /* Use 'auto' for original size */
    padding-bottom: 5rem;
}

#iceland{
    width: 100%;
    background-image: url('../assets/Images/iceland.jpg');
    background-position: center; 
    background-size: cover; /* Use 'auto' for original size */
    padding-bottom: 5rem;
}


.title{
    width: 30%;
    margin:0;
    padding-top: 2rem;
    padding-left: 4rem;
    font-size: 4rem;
    color: white;
}
.gallery__cards .card{
    
    font-size: large;

    background-color: white;
    box-shadow: none;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    align-items: center;

    padding: 20px;


}
.gallery__cards .cards-items{
    width: 90%;
    border: 0 solid;
    border-radius: 5px;
    background-color: #FEFAF5;
    margin: 0.625rem;
    padding: 10px;

}
.cards-first-child{
    width: 95%;
    border-bottom: 2px solid black;
    font-weight: 700;
    margin-bottom: 1rem;
}