#hero{
    padding-bottom: 3rem;
    text-align: center;
    background-color: #FEFAF5;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero__text{
    width: 50%;
    color:#335576;
    text-align: left; /* Align text to the left */
    margin-left: 5%;
    
}
.hero__text h1{
    margin: 0;
    font-size: 2.5rem;
}
.hero__text p{
    font-weight:100;
}
#hero .button{
    background-color: #DB7A4E;
    border-radius: 40px;
    border: none;
    color: white;
    width: 30%;
    height: 35px;
}

.hero__img{
    width: 35%; /* Make sure the image doesn't exceed its container */
    height: auto;
    margin:4% 4% auto auto;
}
.hero__img img{
    width: 100%;
}


#recommendation{
    margin: 3rem;
    padding-bottom: 1rem;

}
#recommendation h1{
    margin-left: 4%;
    color: #335576;
}

.card img{
    width: 100%;
    height: 100%;
}
.card__name{
    position: absolute;
    bottom: 16px;
    right: 16px;
    font-size: x-large;
    color: white;
    font-weight: 700;

}
